:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-primary: #F0F4F8;
  --color-bg-secondary: #FFFFFF;
  --color-primary: #008BFE;
  --color-primary-darken: #006FCB;
  --color-secondary: #CCE8FF;
  --color-text-primary: #222222;
  --color-text-primary-invert: #FFFFFF;
  --color-text-secondary: #000000;
}

p, h1,h2,h3,h4,h5,h6,strong {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: calc(100vh - 100px);
  display: grid;
  padding: 50px 60px;
}